<%% content_for :page_title do %>
  <%%= Spree.t(:listing_<%= plural_name %>) %>
<%% end %>

<%% content_for :page_actions do %>
  <%%= button_link_to Spree.t(:new_<%= singular_name %>), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_<%= singular_name %>_link' %>
<%% end if can?(:create, Spree::<%= class_name %>) %>

<%%= render 'form_filter' %>

<div class="index-content">
  <%%= render 'index' %>
</div>
